
@{
    ViewBag.Title = "UserDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mx-auto">
    <div class="card text-center" style="margin-top:150px">
        <div class="card-header text-white bg-primary">
            <h3>Đăng ký</h3>
        </div>
        <div class="card-body">
            @if (ViewBag.Noti != null)
            {
                @Html.Raw(ViewBag.Noti)
            }
            <form enctype="multipart/form-data">
                <div class="row">
                    <div class="form-group col-md-12">
                        <img style="width:200px; height:200px" src="@ViewBag.User.img" />
                    </div>
                    <div class="form-group col-md-6 row">
                        <label for="userName" class="col-md-4 col-form-label">Name:<label style="color:red">*</label></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" disabled id="userName" name="name" value="@ViewBag.User.name" placeholder="You user name here..">
                        </div>
                    </div>
                    <div class="form-group col-md-6 row">
                        <label for="phoneNumber" class="col-md-4 col-form-label">Phone Number:<label style="color:red">*</label></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" disabled name="phoneNumber" id="phoneNumber" value="@ViewBag.User.phoneNumber" placeholder="09999..">
                        </div>
                    </div>
                    <div class="form-group col-md-6 row">
                        <label for="address" class="col-md-4 col-form-label">Address:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" disabled name="address" id="address" value="@ViewBag.User.address" placeholder="Your address..">
                        </div>
                    </div>
                    <div class="form-group col-md-6 row">
                        <label for="staticEmail" class="col-md-4 col-form-label">Email:<label style="color:red">*</label></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" disabled name="email" value="@ViewBag.User.email" id="staticEmail" placeholder="email@example.com">
                        </div>
                    </div>
                </div>
                <div class="form-group text-muted">
                    <a type="button" class="btn btn-info" href="~/User/EditUserInfo">Chỉnh sửa thông tin cá nhân</a>
                </div>
            </form>
        </div>
    </div>
</div>

